{% extends "base.html" %}

{% block titulo %}Inicio{% endblock titulo%}

{% block contenido %}
    <div class="row mt-5">
        <div class="col-6">
            <h2>Lista de Reseñas</h2>
        </div>
        <div class="col-6 text-end">
            <a
                class="btn btn-primary"
                href="{% url 'reviews:registrar' %}"
                role="button"
            >Registrar Reseña</a>
        </div>
    </div>
    <ul class="list-group mt-4">
        {% for review in review_list %}
            <li class="list-group-item">
                <a href="{% url 'reviews:consultar' pk=review.pk %}" style="color: black;">
                    {{ review.username }}: {{ review.review }} ({{ review.rating }})
                </a>
                <span class="float-end">
                    <a
                        class="btn btn-warning"
                        href="{% url 'reviews:modificar' pk=review.pk %}"
                        role="button"
                    >Editar Reseña</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}