{% extends "base.html" %}

{% block titulo %}Reseña Registrada Exitosamente{% endblock titulo%}

{% block contenido %}
    <div class="row mt-5">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'reviews:index' %}">Regresar a Reseñas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reseña Registrada Exitosamente</li>
                </ol>
            </nav>
        </div>
        <div class="col-12">
            <h2>Reseña Registrada Exitosamente</h2>
        </div>
    </div>
{% endblock contenido %}